/* Root: resizing the element by set unit */
:root {
   --pixel-size: 2px;
   --grid-cell: calc( var(--pixel-size) * 16);
   --bg: #9fa7e4;
}

/* zooming the window according to different screen width */
@media( min-width: 700px ) {
   :root {
      --pixel-size: 3px;
   }
}
@media( min-width: 1000px ) {
   :root {
      --pixel-size: 4px;
   }
}

html, body {
   height: 100%;
}

body {
   background: var(--bg);
   display: flex;
   align-items: center;
   justify-content: center;
/*  the the elements are stacked vertically!  */
   flex-direction:column;
}

/* 
Pixelart: 
turn all (blurred) image into nice crisp pixelized image after scaling 
NO MORE BLURRY AND GROSS IMAGES! 
*/
.pixel-art {
   image-rendering: pixelated;
}

.frame {
   /* This is just for Pen decoration */
   width: calc(var(--pixel-size) * 160);
   height: calc(var(--pixel-size) * 144);
   outline: var(--pixel-size) solid #fff;
   z-index:1; 
   position:relative;
   margin:1rem;
}

/* Camera: fixed position */
.camera {
   width: calc(var(--pixel-size) * 160);
   height: calc(var(--pixel-size) * 144);
/*    Overflow: crop out the part we want to hide */
   overflow: hidden;
/*    background: #61ddf7; */
   background: #d9ffc5;
   position:relative;
}

.map2 {
   image-rendering: pixelated;
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DogDemoMap.png");
   background-size: 100%;
   width: calc(15 * var(--grid-cell));
   height: calc(11 * var(--grid-cell));
   position: relative;
}

.character {
   width: calc( var(--grid-cell)* 2 );
   height: calc( var(--grid-cell)* 2 );
   position: absolute;
   overflow:hidden;
}

.shadow {
   width: calc( var(--grid-cell)* 2 );
   height: calc( var(--grid-cell)* 2 );
   position: absolute;
   left:0;
   top:0;
   background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
   background-size: 100%;
}

/* Container of the sprite sheet */
.character_spritesheet {
   position: absolute;
   background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/WalkingDemo-HANK-2-SHEET.png") no-repeat no-repeat;
   background-size: 100%;
   width: calc( var(--grid-cell)* 8 );
   height: calc( var(--grid-cell)* 8 );
}

/* Move image relative to itself to change heading */
.character[facing="right"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_spritesheet {
   animation: walkAnimation 0.6s steps(4) infinite; 
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-100%,0%,0);
  }
}

.dpad {
   position:absolute;
   right: calc(var(--pixel-size) * 2);
   bottom: calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 37);
   height: calc(var(--pixel-size) * 38);
}
.dpad-button {
   appearance:none;
   outline:0;
   border:0;
   background:transparent;
   padding:0;
   cursor:pointer;
}
.dpad-button svg {
   display:block;
   height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
.dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }

.dpad-up {
   position: absolute;
   left: calc(var(--pixel-size) * 12);
   top:0;
}
.dpad-down {
   position: absolute;
   bottom:var(--pixel-size);
   left: calc(var(--pixel-size) * 12);
}
.dpad-left {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   left:0;
}
.dpad-right {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   right:0;
}

.dpad {
   user-select:none;
}


.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
   position: absolute;
   width: var(--pixel-size);
   height: var(--pixel-size);
   background: var(--bg);
   z-index:2;
}

.corner_topleft {
   top: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_topright {
   top: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
   bottom: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
   bottom: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}

.map {
   position:relative;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DogDemoMap.png);
   width: calc(192px * 4);
   height: calc(144px * 4);
   background-size: 100%;
   margin: 1em auto 0 auto;
}

.pixelart {
   image-rendering: pixelated;
}

.dog {
  censor:pointer;
   position: absolute;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/Characters.png);
   width: calc(2.5 * var(--grid-cell));
   height: calc(3.5 * var(--grid-cell));
   left: calc(var(--pixel-size) * 96);
   top: calc(var(--pixel-size) * 36);
   background-size: 200%;
}


.toy {
   cursor: pointer;
   position: absolute;
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/Toys.png?v=1);
   width: calc(1.5 * var(--grid-cell));
   height: calc(1.5 * var(--grid-cell));
   background-size: 400%;
}

.toy11 {
  visibility: hidden;
   left: calc(var(--pixel-size) * 96);
   top: calc(var(--pixel-size) * 64);
   background-position-x: 33.3%;
}
.toy1 {
visibility: hidden;
   left: calc(var(--pixel-size) * 45);
   top: calc(var(--pixel-size) * 130);
}
.toy1.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy2 {
visibility: hidden;
   left:calc(var(--pixel-size) * 185);
   top: calc(var(--pixel-size) * 122);

}
.toy2.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy3 {
visibility: hidden;
   left: calc(var(--pixel-size) * 100);
   top: calc(var(--pixel-size) * 90);

}
.toy3.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy4 {
visibility: hidden;
   left: calc(var(--pixel-size) * 140);
   top: calc(var(--pixel-size) * 60);

}
.toy4.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy5 {
visibility: hidden;
   left: calc(var(--pixel-size) * 170);
   top: calc(var(--pixel-size) * 80);
}
.toy5.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy6 {
   left: calc(var(--pixel-size) * 28);
   top: calc(var(--pixel-size) * 35);
}

.toy6.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy7 {
   left: calc(var(--pixel-size) * 60);
   top: calc(var(--pixel-size) * 100);
}
.toy7.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy8 {

   left: calc(var(--pixel-size) * 120);
   top: calc(var(--pixel-size) * 120);

}
.toy8.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy9 {
   left: calc(var(--pixel-size) * 150);
   top: calc(var(--pixel-size) * 110);

}
.toy9.rescued {
   left: calc(var(--pixel-size) * -112);
   top: calc(var(--pixel-size) * -112);
}
.toy10 {
   left: calc(var(--pixel-size) * 190);
   top: calc(var(--pixel-size) * 20);
}
.toy10.rescued {
   left: calc(var(--pixel-size) * -112);
   top: -calc(var(--pixel-size) * -112);
}
.text-container {
   display: flex;
   justify-content: center;
}
.text-container p {
   border-radius:1rem;
   text-align: center;
/*    font-family: 'Press Start 2P', cursive; */
   font-family: 'Trebuchet MS', sans-serif;
   background: #fef;
   color: #000;
   padding: 1em;
   margin:1rem;
   font-size: 2em;
}

#a{
  padding:1.2rem;
  border:none;
  border-radius:2rem;
  font-size:1.5rem;
  font-family: 'Trebuchet MS', sans-serif;
  background: #000;
  color: #fff;
  margin:1rem;
  transition: transform 0.3s ease;
}

/* animating a hover effect on the botton */
#a:: after, #a::before{
  content: “”;
  position:absolute;
  opacity:0.3;
  background:#000;
  border-radius:inherit;
  width:100%;
  height:100%;
  left:0;
  bottom:0;
  z-index:-1;
  transition: transform 0.3s ease;
}
#a:hover {
  transform: translate(-0.5rem, -0.5rem)
}
#a:hover::after {
  transform: translate(0.2rem, 0.2rem)
}
#a:hover::before {
  transform: translate(0.5rem, 0.5rem)
}